#mainPane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#aboutLabel {
    -fx-text-fill: #F0E3A3;
}

#gameLabel {
    -fx-text-fill: #E6D891;

}


#flowPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#hboxScroll {
    -fx-background-color: transparent;
    -fx-opacity: 100;
}

#scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#hboxCell{
    -fx-opacity:100.0;
    -fx-border-color: yellow;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 5;
}

#textFieldInput{
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-font-size: 15px;
    -fx-background-color: #3C6C7D;
    -fx-border-color: #1E587A;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}
#textFieldInput:hover{
    -fx-cursor: text;
}
