#mainPane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 750;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#aboutLabel {
    -fx-text-fill: #F0E3A3;
}

#gameLabel {
    -fx-text-fill: #E6D891;

}


#flowPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#hboxScroll {
    -fx-background-color: transparent;
    -fx-opacity: 100;
}

#scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

#hboxCell{
    -fx-opacity:100.0;
    -fx-border-color: yellow;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 5;
}